<div class="container title mt-4">
    <div class="row">
        <div class="col">
            <h1>Contact Management Application
                <a routerLink="/contacts/add" class="btn btn-success">
                    <i class="fa-solid fa-user-plus"></i> &nbsp;
                    Add new
                </a>
            </h1>

            <p style="text-align: justify;">
                This is dummy. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam unde consequuntur et
                provident nemo dicta vero facere alias aut est praesentium pariatur magnam soluta laudantium, assumenda
                id natus, exercitationem sed.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, fuga. Adipisci deserunt accusamus ipsum
                nobis dolorem impedit, maxime soluta quasi praesentium excepturi harum autem optio perspiciatis quam et
                accusantium molestias?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, dolor eos
                exercitationem aut rerum odit? Fugit soluta non recusandae ipsa nam dolorem quod, blanditiis et,
                officiis dicta enim. Soluta, id!Loremlorem
            </p>
            <div class="row">
                <div class="col-6">
                    <input (keyup)="search($event)" type="text" class="form-control" placeholder="Search contact">
                </div>
               
            </div>

            <!-- <pre>
                {{allContacts | json}}
            </pre> -->


            <!-- card design -->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 mt-3" *ngFor="let contact of allContacts | filter :searchKey:'name' ">
                        <div class="card list-group-item-secondary">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <img style="height: 150px;" [src]="contact.photo"
                                            alt="no image" class="contact_image">
                                    </div>
                                    <div class="col-md-7">
                                        <!-- contact details -->
                                        <ul class="list-group">
                                            <li class="list-group-item">Name : <b>{{contact.name}}</b></li>
                                            <li class="list-group-item">Email : <b>{{contact.email}}</b></li>
                                            <li class="list-group-item">Mobile : <b>{{contact.mobile}}</b></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-1 d-flex flex-column justify-content-center align-items-center">
                                        <!-- view -->
                                        <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-warning">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <!-- edit -->
                                        <a routerLink="/contacts/edit/:contactId" class="btn btn-success mt-1">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>
                                        <!-- delete -->
                                        <button class="btn btn-danger mt-1">
                                             <i class="fa-solid fa-trash"></i>   
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>